<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${room.name}"></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            /* html component 작동*/
            let chatBox = $('.chat_box');
            let messageInput = $('input[name=message]');
            let sendBtn = $('.send');

            /* 사용자 id 및 채팅방 id */
            let roomId = '[[${room.id}]]';
            let member = '[[${member.getNickname()}]]';

            let host = location.hostname;
            let port = Number(9001);
            client = new Paho.MQTT.Client(host, port, member);

            /* mqtt connection options */
            let options = {
                timeout: 3,
                onSuccess: onConnect,
                onFailure: onFail
            }

            client.connect(options);
            client.onMessageArrived = onMessageArrived;

            function onConnect() {
                console.log(host + " is Connected");
                client.subscribe("topic");
            }

            function onFail() {
                console.log(host + "'s connection is failed");
            }

            function onMessageArrived(receivedMessage) {
                console.log('receivedMessage');
                console.log(receivedMessage);

                let content = JSON.parse(receivedMessage._getPayloadString());
                console.log(content);
                chatBox.append('<li>' + '(' + content.writer + ')' + content.message + '</li>');
            }

            sendBtn.click(function () {
                let message = messageInput.val();
                let content = JSON.stringify({
                    chatRoomId : roomId,
                    messageType : 'CHAT',
                    message : message,
                    writer : member
                });
                client.send("topic", content);
                messageInput.val('');
            });
        })
        ;
    </script>
</head>
<body>
<h1 th:text="${room.name}"></h1>
<h2 th:text="${member.getNickname()}"></h2>
<div class="content" data-room-id="{{room.id}}" data-member="{{member}}">
    <ul class="chat_box">
    </ul>
    <label>
        <input name="message">
    </label>
    <button class="send">보내기</button>
</div>
</body>
</html>
