<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${room.name}"></title>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<h1 th:text="${room.name}"></h1>
<h2 th:text="${member.getNickname()}"></h2>
<div class="content" data-room-id="{{room.id}}" data-member="{{member}}">
    <ul class="chat_box">
    </ul>
    <label>
        <input name="message">
    </label>
    <button class="send">보내기</button>
</div>
</body>
</html>
