<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>ToyChat</h1>
<a th:href="@{/signup}">
    회원 가입
</a>
<br>
<form th:action="@{/login}" method = "GET" sec:authorize="!isAuthenticated()">
    <button type = "submit"> 로그인</button>
</form>

<form th:action="@{logout}" method = "POST" sec:authorize="isAuthenticated()">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <button type = "submit"> 로그아웃</button>
</form>

</body>
</html>
