<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
</head>
<body>
<h1>회원 가입</h1>
<form name="sign-up" method="post" th:object="${userSignUpRequest}" th:action="@{/signup}">
    <div>
        <label>
            id(Email) : <input type="email" name="email" th:field="*{email}">
        </label>
        <label th:if="${#fields.hasErrors('email')}" th:erros="*{email}">
            <ul>
                <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
            </ul>
        </label>
    </div>
    <div>
        <label>
            pw : <input type="password" name="password" th:field="*{password}">
        </label>
        <label th:if="${#fields.hasErrors('password')}" th:erros="*{password}">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
            </ul>
        </label>

    </div>
    <div>
        <label>
            nickname: <input type="text" name="nickname" th:field="*{nickname}">
        </label>
        <label th:if="${#fields.hasErrors('nickname')}" th:erros="*{nickname}">
            <ul>
                <li th:each="err : ${#fields.errors('nickname')}" th:text="${err}"></li>
            </ul>
        </label>
    </div>

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">회원 가입</button>
</form>
</body>
</html>
